html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --- HEADER --- */

header {
    display: flex;
    flex-direction: column; 
    padding: 0 3%;
    background-color: #8398ad;
}

header img {
  width: 75px;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
}

.menu { 
    border: 2px solid black; 
    margin: 2%;
    background-color: white;
    font-size: 125%;
}

.onglets-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.onglets-menu li {
    margin: 1%;
    padding: 1% 5%;
    cursor: pointer;
}

.onglets-menu a {
  color: black;
  text-decoration: none;
}

.onglets-menu li:hover, .onglets-menu li a:hover {
    background-color: #f06c68;
    color: white;  
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px;
  background-color: #8398ad;
  position: absolute;
  left: 50%;
  top: 100%;
  min-width: 200px;
  width: auto;           
  min-width: 200px;      
  max-width: 300px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.deroulant {
  position: relative;
}

.deroulant:hover .sous {
  display: block;
}

.sous li {
  width: 100%;
  text-align: left;
  padding: 0;
}

.sous a {
  display: block;
  padding: 12px 15px;
  border-bottom: none;
  color: white;
}

.sous a:hover {
  border-bottom: none;
  background-color: #f06c68;
}

.deroulant > a:after {
  content: " ▼";
  font-size: 12px;
}

/* --- FOOTER --- */

footer.footer {
  display: flex;                
  justify-content: space-around;
  align-items: flex-start;           
  padding: 1rem 2rem;
  background-color: #8398ad;
  color: #f5f5f5;
  font-size: 0.8rem;
  margin-top: auto;
}

.onglets-footer {
    list-style-type: none;
    padding: 0;
}

.onglets-footer li {
  padding-bottom: 5%;
  position: relative;
}

.onglets-footer a {
  color: white;
  text-decoration: none;
}

.onglets-footer li:hover, .onglets-footer li a:hover {
    background-color: #f06c68;
    color: white;  
}

.footer-left { 
  text-align: left; 
}

.footer-centre, .footer-centre a { 
  text-align: center; 
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.footer-centre a:hover {
  color: #f06c68;
}

.footer-droite { 
  text-align: right; 
}

.footer-gauche, .footer-droite {
  min-width: 150px; 
}

/* --- RESPONSIVE --- */

@media screen and (max-width: 768px) {
   header {
      padding: 0 2%;
    }
    
    header img {
        width: 60px;
    }
    
    .menu {
        margin: 3% 2%;
        font-size: 100%;
    }
    
    .onglets-menu {
        flex-direction: column;
        padding: 0;
    }
    
    .onglets-menu li {
        width: 100%;
        text-align: center;
        padding: 3% 0;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid black;
    }
    
    .onglets-menu li:last-child {
        border-bottom: none;
    }
    
    footer.footer {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }
    
    .footer-gauche, .footer-droite {
        min-width: auto;
        text-align: center;
        margin: 15px 0;
    }

    .sous {
        position: static;
        left: auto;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        background-color: #6b7f94;
    }

    /* Menu déroulant responsive */
    .deroulant {
        position: relative;
    }
    
    .deroulant > a::after {
        content: " ▼";
        font-size: 10px;
        transition: transform 0.3s;
    }

    

    
   

@media screen and (max-width: 480px) {
    .menu {
        font-size: 90%;
    }
    
    header img {
        width: 50px;
    }

    .sous a {
        padding: 6px 12px;
        font-size: 85%;
    }
}
}