.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border: 1px solid black;
    margin: 2%;
    gap: 4%;
}

.article-1 {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: solid black 1px;
}

.article img {
    width: 140px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
}

.zoom {
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25);
}

.separateur {
    border: 5px solid grey;
    margin: 0 2%;
}