.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border: 3px solid black;
    border-radius: 18px;
    margin: 2%;
    gap: 4%;
}

.article-1 {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: solid black 1px;
    font-size: 20px;
}

.article img {
    width: 140px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
}

.zoom {
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25);
}

.separateur {
    border: 5px solid grey;
    margin: 0 2%;
}

.box {
  border: solid black 1px;
  background: #8398ad;
  margin: 2%;
  border-radius: 18px;
  box-shadow: 0 5px 24px rgba(0,0,0,0.07);
}

.competences {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid black 1px;
  background-color: white;
  gap: 2rem;
  padding: 1%;
  margin: 1%;
}

.competences img {
  border-radius: 12px;
}

.competences h3 {
  margin-bottom: 0.5em;
  color: #23527c;
  font-size: 30px;;
}

.competences ul {
  margin: 0.5em 0 0 1.2em;
  padding: 0;
  list-style: disc inside;
  font-size: 20px;
}

.competences-colonne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid black 3px;
  margin: 2% 10%;
  padding: 1%;
  border-radius: 18px;
}

.sport-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  font-size: 20px;
}

.sport img {
  padding-right: 30rem;
}


@media screen and (max-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }

  .competences {
    display: flex;
    flex-direction: column;
  }
}