.page{
  margin: 10px auto;
  width: 95%;
}

.outline{
  border: 2px solid rgb(97, 46, 46);
  margin: 10px auto;
  overflow: auto;
}

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableau{
    text-align: center;
    display: block;
    margin-left: auto;
    width: fit-content;
}

.tableau {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.tableau tr:first-child td {
  background-color: #6d2e2e;
  color: white;
  font-weight: bold;
}