.page{
  margin: 10px auto;
  width: 95%;
}

.page2{
   width: 98%;
}

.outline{
  border: 2px solid rgb(97, 46, 46);
  margin: 10px auto;
  overflow: auto;
}

.titre{
  display: flex;
  align-items: left;
  justify-content: left;
}

.dansTitre{
  padding-left: 10px;
}

.tableau {
  text-align: center;
  border-collapse: collapse;
}

.row {
  display: flex;
  gap: 10px;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.tableau tr:first-child td {
  background-color: #6d2e2e;
  color: white;
  font-weight: bold;
}

.ligne {
  border-top: 2px solid rgb(97, 46, 46);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.img-side {
  width: 200px;
  height: auto;
  object-fit: cover;
}