.marge{
  margin: 3%;
}
strong.no-bold {
  font-weight: inherit;
}
.form {
  display: flex;          
  flex-direction: column;
  gap: 7px;
  flex-grow: 1;           
}

h1 {
  text-align: center;
}

.contacte{
  display: flex;
  align-items: stretch;
  gap: 3%;
  margin-top: 25px;
}

.formulaire {
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0  rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.bouton{
  margin-top: 15px;
  padding: 8px;
  border: none;
  border-radius: 4px;
   box-shadow: 2px 2px 7px 0  rgb(0, 0, 0, 0.2);
  outline: none;
  color: black;

}

.message{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

#message{
  flex: 1;
  resize: none;
   border: none;
  border-radius: 4px;
   box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}


.gauche, .droite{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.gauche img, .droite img{ 
    flex: 1;
    width: 100%;
    height: auto;
    
}