main {
    max-width: 1000px;
    align-self: center;
}

h1 {
    padding: 2px;
    background-color: #d08a77;
    color: black;
}



h2 {
    padding: 2px;
    border-style: outset;
    border-color: #ecd0c9;
    background-color: #d08a77;
    text-align: center;
}

h3 {
    padding: 2px;
    margin-left: 15px;
    line-height: 0px;
}

p {
    padding: 2px;
    margin-left: 30px;
}

li {
    padding: 2px;
    margin-left: 100px;
    margin-right: auto
}

hr {
    border-top: 5px double black;
}

.Séparateur_Ressources {
    border-top: 2px dashed black;
}

.Apprentissage_Critique {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ecd0c9;

}

.Image_App_Crit {
    border: 2px solid black;
    width: 480px;
    height: 252px;
}

.Liste {
    background-color: #ecd0c9;
}

.Ressources {
    display: flex;
    flex-direction: column;
}

.Tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecd0c9;
}

.Tableau caption {
    font-weight : bold;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

caption {
    caption-side: top;
}

th,td {
    padding: 5px;
    border: 2px solid black;
    text-align: center;

}

.SAE {
    display: flex;
    flex-direction: column;
}

.Texte {
    background-color: #ecd0c9;
}

.Precision_Ressources {
    display: flex;
    flex-direction: column;
}

.Tab_Ressources {
    background-color: lightgrey;
}

.Tab_Coeffs {
    background-color: white;
}

.Compétence1 {
    max-width: 550px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;    
    text-align: center;
    outline: 2px ridge #d08a77;
    border-radius: 2rem;
    background-color: #d08a77;
}

.Compétence2 {
    max-width: 550px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;    
    text-align: center;
    outline: 2px ridge #ff6f4c;
    border-radius: 2rem;
    background-color: #ff6f4c;
}

.Compétence3 {
    max-width: 550px;
    margin-right: auto;
    margin-top: 5px;
    margin-left: 100px;   
    margin-bottom: 5px;
    text-align: center;
    outline: 2px ridge #fdcf41;
    border-radius: 2rem;
    background-color: #fdcf41;
}

.Compétence5 {
    max-width: 550px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;    
    text-align: center;
    outline: 2px ridge #5770be;
    border-radius: 2rem;
    background-color: #5770be;
}

.Compétence6 {
    max-width: 550px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    text-align: center;
    outline: 2px ridge #a26859;
    border-radius: 2rem;
    background-color: #a26859;
}